<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="utf-8">
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Diane">
        <!-- <link rel="stylesheet" href="style/root.css"> -->
        <!-- <link rel="stylesheet" href="style/style.css"> -->
    </head>

    <body>
        <style>
            a:hover {
                cursor: pointer;
            }
        </style>

        <div id="container">
            <h1><%= title %></h1>
            <!-- Formulaire de connexion utilisateur -->
            <form id="formUser" method="POST" action="/welcome">
                <input type="text" id="userLogin" value="Pedro" required>
                <input type="password" id="userPw" value="lololol" required>
                <button><%= button %></button>
            </form>

            <h2><a id="welcome"><%= subtitle2 %></a></h2>
            <h2><a id="sign-in"><%= subtitle3 %></a></h2>
        </div>

        <script>
            // document.getElementById('formUser').addEventListener('click', (e) => {
            //     // on empêche l'envoi direct à la route spécifiée dans action
            //     e.preventDefault();
            //     // requête fetch pour envoyer les données entrées par l'utilisateur
            //     fetch("/welcome")
            //     .then(res => res.)
            //     console.log("oui")
            // }); // fin event listener form user
        </script>
    <body>
</html>